.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  margin-bottom: 40px;
}

.footer__list-contact {
  padding-top: 40px;
  font-size: 24px;
  font-weight: 700;
}

.contact__adres {
  margin-bottom: 38px;
}

.contact__adres:before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 32px;
  margin-right: 30px;
  position: relative;
  top: 5px;
  background-image: url(../footer_style/contacts/img_contacts/location.png);
  background-size: contain;
}

.contact__tel {
  margin-bottom: 11px;
}

.contact__tel:before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 32px;
  margin-right: 30px;
  position: relative;
  top: 8px;
  background-image: url(../footer_style/contacts/img_contacts/bx_bxs-phone-call.png);
  background-size: contain;
}

.contact__email {
  margin-bottom: 39px;
}

.contact__email:before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 32px;
  margin-right: 30px;
  position: relative;
  top: 8px;
  background-image: url(../footer_style/contacts/img_contacts/envelope.png);
  background-size: contain;
}

.footer__item-social {
  width: 50px;
  height: 50px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 50%;
  color: #fff;
  transition-property: color, outline-color;
}

.footer__item-social:not(:last-child){
  margin-right: 27px;
}

.footer__item-social:hover {
  color: #440F51;
}

.footer__item-social:focus {
  outline-color: #440F51;
}

.footer__item-social:active {
  color: #840AA3;
}

.footer__link-social {
  width: 50px;
  height: 50px;
}
