@import "global.css";

.header {
  width: 1180px;
  height: 823px;
  margin: 0 auto;
  border: 1px solid #de4040;
  
}

.header-title {
  font-size: 150px;
  font-weight: 900;
  text-transform: uppercase;
}

.header:before {
  content: '';
  display: inline-block;
  width: 675px;
  height: 762px;
  background-image: url(image/main_photo.png);
  background-size: contain;
}

.header-subtitle {
  margin-left: 100px;
  font-size: 28px;
}

.title {
  text-align: center;
}