.top__title--size--big {
  font-size: 50px;
}

.top__title--margin--bottom {
  margin-bottom: 40px;

}

.top__text--margin--bottom {
  margin-bottom: 20px;
}

.top-list {
  margin-bottom: 20px;
}


.top-list--size--small {
  font-size: 16px;
}

.bottom__img--margin--bottom {
  margin-bottom: 50px;
}

.bottom__img--margin--bottom {
  margin-bottom: 50px;
}

.body-list__item-title--size--average {
  font-weight: 700;
}

.body-list__item-title--margin--bottom {
  margin-bottom: 20px;
}

.bottom__text--margin--bottom {
  margin-bottom: 30px;
}

.bottom__img {
  margin-bottom: 50px;
}