.rooms {
  padding: 50px 0;
  font-weight: 700;
}

.rooms__title {
  margin-bottom: 60px;
}

.rooms__item {
  display: inline-block;
  width: 580px;
  height: 349px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 70px;
}

.rooms__item:nth-child(2n) {
  margin-right: 0;
} 

.rooms__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.rooms__item_vibes {
  background-image: url(../rooms/img_rooms/vibes.jpg);
}

.rooms__item_wars {
  background-image: url(../rooms/img_rooms/wars.jpg);
}

.rooms__item_west {
  background-image: url(../rooms/img_rooms/west.jpg);
}

.rooms__item_style {
  background-image: url(../rooms/img_rooms/style.jpg);
}

.rooms__item-title {
  text-align: center;
  line-height: 349px;
  vertical-align: middle;
}
