.rooms {
  font-weight: 700;
}

.rooms__list-item {
  width: 1180px;
  height: 710px;
  font-size: 70px;
}

.rooms__list-item:not(:last-child) {
  margin-bottom: 60px;
}

.rooms-title__container {
  display: inline-block;
  width: 211px;
  text-align: center;
  position: relative;
  top: 35%;
  left: 40%;
}

.rooms__list-item--vibes {
  background-image: url(../rooms/img_rooms/vibes.jpg);
}

.rooms__list-item--wars {
  background-image: url(../rooms/img_rooms/wars.jpg);
}

.rooms__list-item--west {
  background-image: url(../rooms/img_rooms/west.jpg);
}

.rooms__list-item--style {
  background-image: url(../rooms/img_rooms/style.jpg);
}
