

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #050404;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    outline: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    width: 1180px;
    margin: 0 auto;
}



