


.header {
    width: 1180px;
    height: 823px;
    margin-bottom: 60px;
    position: relative;
}

.header-title {
    font-size: 150px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000;
    
}

.header-title:after {
    content: '';
    display: inline-block;
    width: 675px;
    height: 762px;
    background-image: url(img/dekstop/main_photo.png);
    background-size: contain;
    position: absolute;
    right: -50px;
    bottom: -35px;
    z-index: -2;
}

.header-subtitle {
    margin-left: 100px;
    font-size: 28px;
}

/*rooms ______________________________________________________________________________________*/

.rooms {
    font-weight: 700;
}
.rooms-title {
    margin-bottom: 60px;
}
.list-rooms {
    font-size: 70px;
}
.room-vibes {
    background-image: url(img/dekstop/galery/vibes.jpg);
    width: 1180px;
    height: 710px;
    margin-bottom: 60px;
}
.room-wars {
    background-image: url(img/dekstop/galery/wars.jpg);
    width: 1180px;
    height: 710px;
    margin-bottom: 60px;
}
.room-west {
    background-image: url(img/dekstop/galery/west.jpg);
    width: 1180px;
    height: 710px;
    margin-bottom: 60px;
}
.room-style {
    background-image: url(img/dekstop/galery/style.jpg);
    width: 1180px;
    height: 710px;
    margin-bottom: 60px;
}

.room-text {
    width: 211px;
    text-align: center;
    position: relative;
    top: 35%;
    left: 40%;
}

/* booking ___________________________________________________________________________________*/

.booking {
    padding-top: 40px;
}

.booking-title {

}

.booking-subtitle {
}

/* about-us _________________________________________________________________________________*/

.about {
    margin-bottom: 100px;
}

.about-title {
}

.about-text-top {
    font-size: 20px;
    margin-bottom: 35px;
}

.about-text-bottom {
    font-size: 20px;
    margin-bottom: 70px;
}

.about-subtitle-top {
    font-size: 44px;
    font-weight: 900;
    
}

.about-subtitle-bottom {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 40px;
}

.color_biolet {
    color: #440F51;
}

.about-boss {
    position: relative;
}

.boss-text-container {
    display: inline-block;
    width: 270px;
    font-size: 20px;
}
.boss-text {
    float: right;
    padding-right: 30px;
    font-size: 20px;
    
}

.boss-img {
    float: right;
    display: inline-block;
    padding-right: 30px;
}

.inline-block {
    display: inline-block;
    width: 270px;
    font-size: 20px;
    line-height: 28px;
}

.clear-fix {
    clear: both;
}

/* questions ______________________________________________________________________________ */

.item-questions {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    position: relative;
    }

.item-questions:nth-child(2n) {
    background-color: #440F51;
    color: white;
    }

.questions-white:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 70px;
    width: 40px;
    height: 40px;
    background-image: url(img/main_page/questions/open.svg);
    background-size: contain;
    }

.questions-biolet:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 70px;
    width: 40px;
    height: 40px;
    background-image: url(img/main_page/questions/open-purple.svg);
    background-size: contain;
    }

    /* contacts ____________________________________________________________________________*/

    .contacts {
        padding-top: 40px;
        font-size: 24px;
        font-weight: 700;
    }

    .contacts-title {
    }
    .title {
        margin-bottom: 54px;
    }

    .contacts-adres {
        margin-bottom: 38px;
    }

    .contacts-adres:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 32px;
        margin-right: 30px;
        position: relative;
        top: 5px;
        background-image: url(img/dekstop/contacts/location.png);
        background-size: contain;
    }

    .contacts-tel {
        margin-bottom: 11px;
    }

    .contacts-tel:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 32px;
        margin-right: 30px;
        position: relative;
        top: 8px;
        background-image: url(img/dekstop/contacts/bx_bxs-phone-call.png);
        background-size: contain;
    }

    .contacts-email {
        margin-bottom: 39px;
    }

    .contacts-email:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 32px;
        margin-right: 30px;
        position: relative;
        top: 8px;
        background-image: url(img/dekstop/contacts/envelope.png);
        background-size: contain;
    }

    .social-item {
        width: 50px;
        height: 50px;
        outline: 1px solid transparent;
        outline-offset: 3px;
        border-radius: 50%;
        color: #fff;
    }

    .social-item:not(:last-child){
        margin-right: 27px;
    }

    .social-item:hover {
        color: #440F51;
    }

    .social-item:focus {
        outline-color: #440F51;
    }

    .social-item:active {
        color: #840AA3;
    }

    .social-link {
        width: 50px;
        height: 50px;
    }

