* {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B1A1B;
    color: #FFFFFF;
}

.text-transform {
    text-transform: uppercase;
}

.wrapper {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
}