.header {
  padding-top: 146px;
}

.header__content {
  width: 1180px;
  height: 823px;
  position: relative;
}

.header__content:after {
  content: '';
  display: inline-block;
  width: 675px;
  height: 762px;
  background-image: url(../header_style/img_header/main_photo.png);
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__title {
  
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
}

.header__subtitle {
  padding-left: 100px;
  font-size: 28px;
}

.main__title--font--big {
  line-height: 150px;
  font-size: 150px;
  font-weight: 900;
  letter-spacing: -15px;
  text-transform: uppercase;
}
