@import "global.css";

.header__section {
  padding-top: 100px;
  text-align: center;
}

.header__title {
  margin-bottom: 25px;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.header__box-codestyle {
  max-width: 100%;
  font-size: 25px;
}

.codestyle {
  display: inline-block;
  width: 49%;
  color: green;
}

.box-codestyle__left:after {
  content: '⇐';
  display: inline-block;
  color: red;
}

.box-codestyle__right:before {
  content: '⇒';
  display: inline-block;
  color: red;
}

.link {
  display: inline-block;
  padding: 0 50px;
}